body {
    cursor: none;
}

/* make sure these are visible */
#cursor-dot,
#cursor-dot-outline {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    /* starts hidden, becomes visible on first move */
    border-radius: 9999px;
    z-index: 999999;
    transform: translate(-50%, -50%);
}

#cursor-dot {
    width: 8px;
    height: 8px;
    background: #111;
}

#cursor-dot-outline {
    width: 36px;
    height: 36px;
    border: 2px solid #111;
}